{:paths ["src"]

 :deps {
  org.clojure/clojure {:mvn/version "1.9.0-beta3"}
  ring/ring-core {:mvn/version "1.6.2"}
  ring/ring-json {:mvn/version "0.5.0-beta1"}
  compojure {:mvn/version "1.6.0"}
  http-kit {:mvn/version "2.2.0"}
  org.clojure/core.memoize {:mvn/version "0.5.8"}
 }
}
