{:paths ["."]

 :deps {
  org.clojure/clojure {:mvn/version "1.9.0-beta3"}
  org.clojure/java.jdbc {:mvn/version "0.7.3"}
  org.xerial/sqlite-jdbc {:mvn/version "3.20.1"}
  enlive {:mvn/version "1.1.6"}
  doric {:mvn/version "0.9.0"}
  image-resizer {:mvn/version "0.1.10"}
 }
}
